<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <button class="navbar-toggler d-md-none collapsed border-0 burger-btn" type="button" data-toggle="collapse"
    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="central-header">
    <a class="navbar-brand col-auto col-md-3 col-lg-2 me-0 px-2 py-2 order-sm-0"
      [ngClass]="slimSidebarEnabled ? 'slim' : 'col-auto col-md-3 col-lg-2'" routerLink="/dashboard"
      tourAnchor="tour.intro">
      <app-gestform-logo-notext [height]="height" [width]="width" />
    </a>
    <div class="title-container flex-grow-1 py-2 pb-3 pb-sm-2 px-3 ps-md-4 me-sm-auto order-3 order-sm-1"
      *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.Document }">
      <h3 class="mb-0" i18n>Upload files</h3>
    </div>
  </div>
  <ul ngbNav class="navbar-user order-sm-3">
    <li ngbDropdown class="nav-item dropdown">
      <button class="btn border-0" id="userDropdown" ngbDropdownToggle>
        <span class="small me-2 d-none d-sm-inline">
          {{this.settingsService.displayName}}
        </span>
        <svg width="1.3em" height="1.3em" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#person-circle" />
        </svg>
        <svg width="1.3em" height="1.3em" fill="currentColor">
          <use xlink:href="assets/question-icons.svg#question-circle" />
        </svg>
      </button>
      <div ngbDropdownMenu class="dropdown-menu-end shadow me-2" aria-labelledby="userDropdown">
        <div class="d-sm-none">
          <p class="small mb-0 px-3 text-muted" i18n>Logged in as {{this.settingsService.displayName}}</p>
          <div class="dropdown-divider"></div>
        </div>
        <a gbDropdownItem class="nav-link" routerLink="account-settings">
          <svg class="sidebaricon me-2" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#person" />
          </svg><ng-container i18n>My account</ng-container>
        </a>
        <a ngbDropdownItem class="nav-link" routerLink="settings" (click)="closeMenu()"
          *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.UISettings }">
          <svg class="sidebaricon me-2" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#gear" />
          </svg><ng-container i18n>Settings</ng-container>
        </a>
        <a ngbDropdownItem class="nav-link" href="accounts/logout/" (click)="onLogout()">
          <svg class="sidebaricon me-2" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#door-open" />
          </svg><ng-container i18n>Logout</ng-container>
        </a>
      </div>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse"
      [ngClass]="slimSidebarEnabled ? 'slim' : 'col-md-3 col-lg-2'" [class.animating]="slimSidebarAnimating"
      [ngbCollapse]="isMenuCollapsed">
      <button class="btn btn-sm btn-dark sidebar-slim-toggler" (click)="toggleSlimSidebar()">
        <svg class="sidebaricon-sm" fill="currentColor">
          <use *ngIf="slimSidebarEnabled" xlink:href="assets/bootstrap-icons.svg#chevron-double-right" />
          <use *ngIf="!slimSidebarEnabled" xlink:href="assets/bootstrap-icons.svg#chevron-double-left" />
        </svg>
      </button>
      <div class="sidebar-sticky pt-3 d-flex flex-column justify-space-around">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active" (click)="closeMenu()"
              ngbPopover="Dashboard" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
              container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
              <svg class="sidebaricon" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#house" />
              </svg><span>&nbsp;<ng-container i18n>Dashboard</ng-container></span>
            </a>
          </li>
          <li class="nav-item" *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.Document }">
            <a class="nav-link" routerLink="documents" routerLinkActive="active" (click)="closeMenu()"
              ngbPopover="Documents" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
              container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
              <svg class="sidebaricon" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#files" />
              </svg><span>&nbsp;<ng-container i18n>Documents</ng-container></span>
            </a>
          </li>
        </ul>
        <div *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.SavedView }">
          <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted"
            *ngIf='savedViewService.loading || savedViewService.sidebarViews.length > 0'>
            <span i18n>Saved views</span>
            <div *ngIf="savedViewService.loading" class="spinner-border spinner-border-sm fw-normal ms-2" role="status">
            </div>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item w-100" *ngFor="let view of savedViewService.sidebarViews">
              <a class="nav-link" [class.text-truncate]="!slimSidebarEnabled" routerLink="view/{{view.id}}"
                routerLinkActive="active" (click)="closeMenu()" [ngbPopover]="view.name"
                [disablePopover]="!slimSidebarEnabled" placement="end" container="body" triggers="mouseenter:mouseleave"
                popoverClass="popover-slim">
                <svg class="sidebaricon" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#funnel" />
                </svg><span>&nbsp;{{view.name}}</span>
              </a>
            </li>
          </ul>
        </div>

        <div *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.Document }">
          <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted" *ngIf='openDocuments.length > 0'>
            <span i18n>Open documents</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item w-100" *ngFor='let d of openDocuments'>
              <a class="nav-link" [class.text-truncate]="!slimSidebarEnabled" routerLink="documents/{{d.id}}"
                routerLinkActive="active" (click)="closeMenu()" [ngbPopover]="d.title | documentTitle"
                [disablePopover]="!slimSidebarEnabled" placement="end" container="body" triggers="mouseenter:mouseleave"
                popoverClass="popover-slim">
                <svg class="sidebaricon" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#file-text" />
                </svg><span>&nbsp;{{d.title | documentTitle}}</span>
                <span class="close" (click)="closeDocument(d); $event.preventDefault()">
                  <svg fill="currentColor" class="toolbaricon">
                    <use xlink:href="assets/bootstrap-icons.svg#x" />
                  </svg>
                </span>
              </a>
            </li>
            <li class="nav-item w-100" *ngIf="openDocuments.length >= 1">
              <a class="nav-link" [class.text-truncate]="!slimSidebarEnabled" [routerLink]="[]" (click)="closeAll()"
                ngbPopover="Close all" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
                container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                <svg class="sidebaricon" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#x" />
                </svg><span>&nbsp;<ng-container i18n>Close all</ng-container></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="nav-items">
          <div>
            <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
              <span i18n>Manage</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" routerLink="account-settings" routerLinkActive="active" (click)="closeMenu()"
                  ngbPopover="My account" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
                  container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#person" />
                  </svg><span>&nbsp;<ng-container i18n>My account</ng-container></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="faq" routerLinkActive="active" (click)="closeMenu()" ngbPopover="FAQ"
                  i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end" container="body"
                  triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#question-circle" />
                  </svg><span>&nbsp;<ng-container i18n>FAQ</ng-container></span>
                </a>
              </li>
              <li class="nav-item"
                *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.Correspondent }">
                <a class="nav-link" routerLink="correspondents" routerLinkActive="active" (click)="closeMenu()"
                  ngbPopover="Correspondents" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
                  container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#person" />
                  </svg><span>&nbsp;<ng-container i18n>Correspondents</ng-container></span>
                </a>
              </li>
              <li class="nav-item" *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.Tag }"
                tourAnchor="tour.tags">
                <a class="nav-link" routerLink="tags" routerLinkActive="active" (click)="closeMenu()" ngbPopover="Tags"
                  i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end" container="body"
                  triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#tags" />
                  </svg><span>&nbsp;<ng-container i18n>Tags</ng-container></span>
                </a>
              </li>
              <li class="nav-item"
                *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.DocumentType }">
                <a class="nav-link" routerLink="documenttypes" routerLinkActive="active" (click)="closeMenu()"
                  ngbPopover="Document types" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
                  container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#hash" />
                  </svg><span>&nbsp;<ng-container i18n>Document types</ng-container></span>
                </a>
              </li>
              <li class="nav-item"
                *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.StoragePath }">
                <a class="nav-link" routerLink="storagepaths" routerLinkActive="active" (click)="closeMenu()"
                  ngbPopover="Storage paths" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
                  container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#folder" />
                  </svg><span>&nbsp;<ng-container i18n>Storage paths</ng-container></span>
                </a>
              </li>
              <li class="nav-item"
                *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.PaperlessTask }"
                tourAnchor="tour.file-tasks">
                <a class="nav-link" routerLink="tasks" routerLinkActive="active" (click)="closeMenu()"
                  ngbPopover="File Tasks" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
                  container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <span *ngIf="tasksService.failedFileTasks.length > 0 && slimSidebarEnabled"
                    class="badge bg-danger position-absolute top-0 end-0">{{tasksService.failedFileTasks.length}}</span>
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#list-task" />
                  </svg><span>&nbsp;<ng-container i18n>File Tasks<span
                        *ngIf="tasksService.failedFileTasks.length > 0"><span
                          class="badge bg-danger ms-2">{{tasksService.failedFileTasks.length}}</span></span></ng-container></span>
                </a>
              </li>
              <li class="nav-item" *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.Admin }">
                <a class="nav-link" routerLink="logs" routerLinkActive="active" (click)="closeMenu()" ngbPopover="Logs"
                  i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end" container="body"
                  triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#text-left" />
                  </svg><span>&nbsp;<ng-container i18n>Logs</ng-container></span>
                </a>
              </li>
              <li class="nav-item"
                *appIfPermissions="{ action: PermissionAction.View, type: PermissionType.UISettings }"
                tourAnchor="tour.settings">
                <a class="nav-link" routerLink="settings" routerLinkActive="active" (click)="closeMenu()"
                  ngbPopover="Settings" i18n-ngbPopover [disablePopover]="!slimSidebarEnabled" placement="end"
                  container="body" triggers="mouseenter:mouseleave" popoverClass="popover-slim">
                  <svg class="sidebaricon" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#gear" />
                  </svg><span>&nbsp;<ng-container i18n>Settings</ng-container></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="nav-item privacy-and-terms" id="privacy-and-terms-link">
            <a href="{{confidentialityPolicyFilePath}}" target="_blank" rel="noopener noreferrer">
              <svg class="sidebaricon" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#shield-exclamation" />
              </svg><span>&nbsp;<ng-container i18n>Privacy & Terms</ng-container></span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <main role="main" class="ms-sm-auto px-md-4" [ngClass]="slimSidebarEnabled ? 'col-slim' : 'col-md-9 col-lg-10'">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>