<form [formGroup]="passwordForm" (ngSubmit)="save()">
  <app-page-header title="Change Password" i18n-title>
  </app-page-header>
  <div class="form-body">
    <div class="row">
      <app-input-password i18n-title title="Old Password" formControlName="password"
        [error]="error?.password"></app-input-password>
      <app-input-password i18n-title title="New Password" formControlName="newPassword"
        [error]="error?.newPassword"></app-input-password>
      <small id="hint_id_password1" class="form-text text-muted">
        <figure i18n>
          <figcaption>You password must contain :</figcaption>
          <ul>
            <li>At least 12 characters</li>
            <li>At least one uppercase letter and one lowercase letter</li>
            <li>At least a number</li>
            <li>At least one special character</li>
          </ul>
        </figure>
      </small>
      <app-input-password i18n-title title="Confirm New Password" formControlName="confirmPassword"
        [error]="error?.confirmPassword"></app-input-password>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()" i18n>return to my account
      page</button>
    <button type="submit" class="btn btn-primary" i18n>Save</button>
  </div>
</form>