.form-group, .btn-block {
  width: 100%;
  max-width: 330px;
}

.description-title{
  margin: 1rem 0 0;
}

.description-label {
  width: 100%;
}

.form-forgotPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .form-group label.control-label {
  text-align: left !important;
  width: 100%;
}

.asteriskField {
  display: none;
}

.requiredField {
  width: 100%;
  text-align: left;
}

.form-resetPassword {
  margin-top: 1rem;
}

.reset-validation-btn {
  max-width: 9rem;
  margin: auto;
}

.invalid-link {
  margin-left: 1rem;
  margin-right: 1rem;
}

#revealer1{
  background: none;
  border: none;
  position: relative;
  top: -70.5%;
  left: 47.4%;
  z-index: 1;
}

#revealer2{
  background: none;
  border: none;
  position: relative;
  top: -15%;
  left: 37%;
  z-index: 1;
}

#id_new_password1{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  z-index: 2;
}

#id_new_password1:not(:placeholder-shown){
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  z-index: 0;
}

#id_new_password2{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  z-index: 2;
}

#id_new_password2:not(:placeholder-shown){
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  z-index: 0;
}